@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Primary Color
$primary-color: hsl(172, 67%, 45%);

//Neutral Colors
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  background-color: $light-grayish-cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.logo{
  //text-align: center;
  margin: 4rem 0;
}

.tip-wrapper{
  background-color: $white;
  padding: 1.6rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 375px;
  
}

.bill-section{
  color: $dark-grayish-cyan;
  
  .bill-input{
    display: flex;
    flex-direction: column;
    //align-items: center;
    width: 100%;
    label{
      font-weight: 700;
      margin-bottom: .4em;
    }

    input{
      flex: 1;
      padding: 0.4em;
      text-align: right;
      font-size: 24px;
      font-weight: 700;
      font-family: 'Space Mono', monospace;
      color: $very-dark-cyan;
      border-radius: 5px;
      border: none;
      background-color: $very-light-grayish-cyan;
      outline: none;
      cursor: pointer;

      &:hover, :active{
        outline: 2px solid $primary-color;
      }
    }

    .bill-icon{
      position: absolute;
      margin-left: 1em;
      margin-top: 2.8em;
    }

  }
}

.select-tip{
  p{
    font-weight: 700;
    margin-top: 2em;
  }

  .tips{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
  }

  button{
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    width: 100%;
    padding: 0.4em 0;
    font-weight: 700;
    border: none;
    box-sizing: border-box;
    color: $white;
    background-color: $very-dark-cyan;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;

    &:hover, :active{
      background-color: $light-grayish-cyan;
      color: $very-dark-cyan;
    }
  }
  
  input{
    width: 100%;
    box-sizing: border-box;
    background-color: $very-light-grayish-cyan;
    color: $very-dark-cyan;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-right: 10px;
    font-family: 'Space Mono', monospace;
    //font-size: px;
    cursor: pointer;

    &:hover, :active{
      outline: 2px solid $primary-color;
    }
  }
}

.num-of-ppl{
  margin: 1.6em 0;
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 100%;
  label{
    font-weight: 700;
    margin-bottom: .4em;
  }

  input{
    flex: 1;
    padding: 0.4em;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: $very-dark-cyan;
    border-radius: 5px;
    border: none;
    background-color: $very-light-grayish-cyan;
    outline: none;
    font-family: 'Space Mono', monospace;
  }

  .person-icon{
    position: absolute;
    margin-left: 1em;
    margin-top: 2.8em;
  }

}

.tip-section{
  background-color: $very-dark-cyan;
  padding: 2em 1em;
  color: $white;
  font-weight: 700;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .per-person{
    display: block;
    font-size: 12px;
    color: $grayish-cyan;
    font-weight: 700;
  }

  .tip-amount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    .tip-total{
      font-size: 32px;
      color: $primary-color;
    }
  }

  .total-amount{
    display: flex;
    justify-content: space-between;

    .bill-total{
      font-size: 32px;
      color: $primary-color;
    }
  }

  button{
    width: 100%;
    margin-top: 1.4em;
    background-color: $primary-color;
    outline: none;
    border: none;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: $very-dark-cyan;
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;

    &:hover{
      background-color: $light-grayish-cyan;
    }
  }
}


//Screen responsiveness with Media Queries
@media screen and (min-width: 460px) {

  .tip-wrapper{
    width: 400px;
  }
}

@media screen and (min-width: 560px) {
  .tip-wrapper{
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .tip-wrapper{
    width: 760px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    .bill-section{
      max-width: 50%;
    }

    .tip-section{
      width: 50%;

      .amounts{
        margin-top: 1em;
      }
    }

    .tips{
      grid-template-columns: 1fr 1fr 1fr;
      gap: 12px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .tip-wrapper{
    width: 840px;
  }
}
