@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
  font-family: Outfit;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 22px 14px;
  border-radius: 12px;
  height: 460px;
  width: 300px;
}

.qr-code img{
  width: 280px;
  margin: auto;
  border-radius: 12px;
}

p{
  font-size: 15px;
  padding: 0 10px;
  color: hsl(220, 15%, 55%);
}