//Any customizations of primary variables go under this
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
@import url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
@import url("../assets/fonts/static/WorkSans-Bold.ttf");
@import url("../assets/fonts/static/WorkSans-SemiBold.ttf");
@import url("../assets/fonts/static/WorkSans-Regular.ttf");

//Including Accordion BootStrap Styling
@import "../node_modules/bootstrap/scss/bootstrap.scss";



body{
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
}

#desktop-bg{
  display: none;
}

.faq-header{
  display: flex;
  align-items: center;
  
  h1{
    margin-left: 1.6rem;
    font-weight: 800;
  }
}

main{
  position: relative;
  max-width: 320px;
  margin: -100px auto 0;
  padding: 40px 20px;
  background-color: hsl(0%, 0%, 100%);
  border-radius: 10px;
  box-shadow: 2px 2px 15px 5px rgba($color: #000000, $alpha: 0.2);
}

.accordion-button::after { /* Target pseudo-element for arrows */
  display: none;  /* Hide default arrows */
}

.accordion-button {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding-left: 0px;
  //padding-right: 40px;
  color: hsl(292, 42%, 14%) ;

  &:active{
    color: hsl(292, 16%, 49%) !important;
  }
  span{
    position: absolute;
    right: 0;
    //margin-right: 20px;
  }
}

.accordion-icon {
  width: 20px;
  height: 20px;
  background-size: contain; /* Optional: Ensure image scales within container */
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

button{
  color: hsl(292, 42%, 14%) !important;
}

button:hover{
  color: #AD28EB !important;
}

button:active{
  color: #AD28EB !important;
}

.accordion-body{
  color: hsl(292, 16%, 49%);
}

// Media Queries for Responsiveness
@media screen and (min-width: 376px) {
  #mobile-bg{
    display: none;
  }
  #desktop-bg{
    display: block;
  }
  main{
    max-width: 360px;
    margin: -120px auto 0;
  }
}

@media screen and (min-width: 450px) {
  main{
    max-width: 420px;
  }
}

@media screen and (min-width: 600px) {
  main{
    max-width: 520px;
  }
}